*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#Hello {
    font-size: 50px;
    color: fuchsia;
    text-shadow: 2px 2px #000;

}
#World {
    font-size: 48px;
    color: tomato;
    text-shadow: 2px 2px #000;
}
#empty {
    font: 45px;
    color: blue;
    text-shadow: 1px 1px red;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: slateblue;
    text-shadow: #4CAF50 1px 1px;
    padding-top: 10px;
    padding-bottom: 5px;
transition: 0.5s;
}

h1:hover {
    transform: scale(1.1);
    transition: 0.5s;
}
button{
    transition: 0.3s;
}
button:hover {
    transform: scale(1.07);
    transition: 0.3s;

}

#display {
    width: 200px;
    font-size: 24px;
    margin: 10px;
}

button {
    width: 50px;
    height: 50px;
    font-size: 18px;
    margin: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #266e29;
}